/**
 *  CSS used in backend
 *
 *	@package Indexreloaded
 *
*/

.irld_section_title {
	font-weight: normal;
}

.irld_section {

}

.irld-ta {
	min-width: 60%;
}

.form-table td p.irld_hint {
	font-size: 80%;
}

.irld-select {
	max-width: 155px;
}
.ird_del_cache:before {
	content: "\f153";
}
.ird_del_cache {
	cursor: pointer;
}
.irld-headdetails {
	font-weight: 900;
}

.wp-core-ui .button.irld-button {
	background: #6da3ce;
	border-color: #6da3ce;
	color: #fff;
	text-decoration: none;
	text-shadow: none;
	display: inline-block;
}
.irld-inline-block {
	display: inline-block;
}
.irld-button-showsettings {
	margin-bottom: 25px;
}
.wp-core-ui .button.irld-button.irld-display-none, .irld-display-none {
	display: none;
}
.irld_tab_header {
	box-sizing: border-box;
	position: relative;
	margin-top: 20px;
	margin-right: 20px;
	margin-bottom: 0;
}

.irld_tab_head {
	background: #fff;
	border-top: 1px solid #c3c4c7;
	border-left: 1px solid #c3c4c7;
	border-right: 1px solid #c3c4c7;
	box-shadow: 0 1px 1px rgba(0,0,0,.04);
	color: #1d2327;
	cursor: pointer;
	display: inline-block;
	font-size: 1.3em;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.irld_tab_head.active {
	font-weight: 600;
	cursor: auto;
	bottom: -1px;
	position: relative;
	z-index: 999;
}

.irld_tab_content {
	background: #fff;
	border: 1px solid #c3c4c7;
	box-shadow: 0 1px 1px rgba(0,0,0,.04);
	box-sizing: border-box;
	display: none;
	margin-top: 0;
	min-width: 255px;
	margin-right: 20px;
	max-width: initial !important;
	padding: .7em 2em 1em;
	position: relative;
}

.irld_tab_content.active {
	display: block;
}
.ttirl_doublebox {
	width: 100%;
	display: inline-block;
	vertical-align: top;
}
@media (min-width: 782px) {
	.ttirl_doublebox {
		width: 50%;
	}
}
.card {
	margin-right: 20px;
	max-width: initial !important;
}

.notice.notice-info.is-dismissible {
	display: none;
}

.irld-switchback {
	background-color: #bbb;
	border-color: #848484;
	border-style: solid;
	border-radius: 13px;
	border-width: 2px;
	box-sizing: border-box;
	cursor: pointer;
	display: block;
	height: 20px;
	left: 0;
	opacity: 1;
	position: relative;
	top: 10px;
	width: 50px;
	z-index: 200;

}

.irld-switchback.inactive {
	opacity: 0.8;
}

.irld-switchoff {
	background-color: #b7e0f0;
	border-radius: 13px;
	border-width: 2px;
	border-color: #5689b7;
	box-sizing: border-box;
	border-style: solid;
	cursor: auto;
	display: none;
	height: 20px;
	left: 0;
	position: relative;
	top: -10px;
	width: 20px;
	z-index: 300;
}
.irld-switchoff.inactive {
	cursor: pointer;
	display: block;
}
.irld-switchoff.disabled, .irld-switchon.disabled, .irld-switchback.disabled  {
	cursor: auto !important;
	opacity: 0.4;
}

.irld-switchon.inactive {
	cursor: auto;
	display: none;
}

.irld-switchon {
	background-color: #80ff75;
	border-radius: 13px;
	border-width: 2px;
	border-color: #299900;
	box-sizing: border-box;
	border-style: solid;
	cursor: pointer;
	display: block;
	height: 20px;
	left: 30px;
	position: relative;
	top: -10px;
	width: 20px;
	z-index: 400;
}
.irld-hero {
	height: auto;
	width: 100%;
	max-width: 1172px;
}

b, strong {
	font-weight: 900;
}
.irld-fade {
	-webkit-mask-image: linear-gradient(0deg,transparent,#000 95%);
	mask-image: linear-gradient(0deg,transparent,#000 95%);
	position: relative;
}
.irld-hide {
	display: none !important;
}
.idrd-show-more, .idrd-show-less {
	cursor: pointer;
}
.idrd-show-less {
	position: relative;
	top: -23px;
	margin-bottom: 0;
}
.irld-hidden-part {
	position: relative;
	top: -46px;
}
